@charset 'UTF-8';

@font-face {
    font-family: 'LigatureSymbols';
    src: url('../font/LigatureSymbols-2.1.eot');
    src: url('../font/LigatureSymbols-2.1.eot?#iefix') format('embedded-opentype'),
         url('../font/LigatureSymbols-2.1.woff') format('woff'),
         url('../font/LigatureSymbols-2.1.ttf') format('truetype'),
         url('../font/LigatureSymbols-2.1.svg#LigatureSymbols') format('svg');
    font-weight: normal;
    font-style: normal;
}

.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-font-feature-settings: "liga" 1, "dlig" 1;
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga" 1, "dlig" 1;
  font-feature-settings: "liga" 1, "dlig" 1;
}
.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
}